/* Own classes for gutenberg */

.gutenberg-width-group-mobile p{
    text-align: justify;
}

/* Устанавливаем размеры кнопок для моб.вер. */
@media (max-width: 561px) {
    .gutenberg-button-mobile {
        width: 80% !important;
    }

    .gutenberg-width-group-mobile {
        width: 90%;
    }
}
